@use "../utils/variables" as *;
@use "../utils/animations" as *;
@use "../utils/mixins" as *;

.none {
  display: none;
}

.block {
  display: block;
  animation: fadeIn 1s ease-out;
  animation-fill-mode: forwards;
}

.menu {
  position: fixed;
  top: 40px;
  right: 20px;
  font-size: 2.5rem;
  z-index: 4;
  animation: moveRight 1s ease;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@include screen-big {
  .menu {
    display: none;
  }
}
