@use "utils/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 0;
}

@media (max-width: $screen-small) {
  .App {
    display: grid;
  }
}
