@use "utils/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: end;
  width: 100vw;
  gap: 0;
}

@media (max-width: $screen-small) {
  .App {
    display: grid;
  }
}
