@keyframes openSection {
  from {
<<<<<<< HEAD
    width: 3rem;
=======
    width: min(5vw, 2.5rem);
>>>>>>> 3ddf8bd (fixed opening and closing mobile animations)
  }
  to {
    width: 100%;
  }
}

@keyframes openSectionMobile {
  from {
    width: 50%;
    height: 50%;
<<<<<<< HEAD
=======
    opacity: 1;
>>>>>>> 3ddf8bd (fixed opening and closing mobile animations)
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes closeSection {
  from {
    width: 100%;
  }
  to {
<<<<<<< HEAD
    width: 3rem;
=======
    width: min(5vw, 2.5rem);
>>>>>>> 3ddf8bd (fixed opening and closing mobile animations)
  }
}

@keyframes closeSectionMobile {
  from {
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    z-index: 4;
=======
    opacity: 0.1;
>>>>>>> 3ddf8bd (fixed opening and closing mobile animations)
  }
  to {
    width: 50%;
    height: 50%;
<<<<<<< HEAD
    z-index: 1;
=======
    opacity: 1;
>>>>>>> 3ddf8bd (fixed opening and closing mobile animations)
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveRight {
  0%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: translatex(8px);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
