@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto+Mono&display=swap");

$color-red: #f64444;
$color-blue: #5ea3ec;
$color-yellow: #ffb400;
$color-white: #fff;
$color-black: #000;

$font-titles: "Playfair Display", serif;
$font-body: "Roboto Mono", monospace;

$font-titles-big: 5rem;
$font-titles-small: 3rem;
$font-titles-xs: 1.5rem;

$font-body-xl: 2rem;
$font-body-big: 1.2rem;
$font-body-small: 1rem;

$screen-small: 766px;
$screen-big: 767px;
